/* body{
    width: 986rem;
    margin: auto;
    position: relative;
} */

.wrapper{
    /* width: 98.6rem; */
    width: 95%;
    margin: 0rem auto;
}
.header{
    height: 8.5rem;
    background: #7DD9E8;
}

.nav-bar{
    height: 4rem;
    background: #F5F5F5;
}

.left-nav-bar{
    width: 19.4rem;
    height: 60.5rem;
    background: #F5F5F5;
    float: left;
    margin: 3rem 2.6rem 3.2rem 2.5rem;
}


.main{
    margin-top: .3rem;
    float: left;
    /* border: 1rem solid red; */
    height: 4rem;
    width: 51.8rem;
    
}

.right-nav-bar{
    width: 17.6rem;
    height: 60.5rem;
    background: #F5F5F5;
    float: right;
    margin: 3rem 2.3rem 3.2rem 2.4rem;
}

.foot{
    height: 4.5rem;
    background: #727272;
    clear:both;
}

a{
    text-decoration: none;
}