
@media(max-width: 1083px){

    .container{
        width: 99%;
    }

    .main{
        width: 80%;
        height: auto;
        width: 3%;

    }
}
@media(max-width: 940px){
    .container{
        width: 99%;
    }
    .main img{
        height: auto;
        width: 4rem;
    }
    .main{
        clear: both;
        width: 81.8rem;
    }

    .nav-bar ul li{
        clear: both;
        padding-top: 1rem;

    }
    .nav-bar ul{
        padding: 0rem auto;
    }
    .nav-bar{
        height: 16rem;
    }
    #nav-item-5, #nav-item-6{
        clear: both;
        float: left;
    }

    
    .left-nav-bar{
        width: 45%;
        margin-left: 0px;

    }
    .right-nav-bar{
        float: left;
        width: 45%;
        margin-right: 0px;
    }

    .header{
        height: 10.5rem;
    } 

}


@media only screen and (max-width:900px){
    .logo {
        height: 6rem;
        /* width: 12rem; */
        width: 12rem;
    }
  
    #search-box{
        position: absolute;
        /* top: 4rem; */
        top: 7rem;
        border: none;
        height: 2rem;
        width: 24.7rem;
        left: 25.5rem;
        background-color: #CAEFF7;
    }
    
    .search-left-corner{
        position: absolute;
        /* top: 4rem; */
        top: 7rem;
        left: 24.9rem;
    }
    #search-btn-icon{
        position: absolute;
        /* top: 4rem;  */
        top: 7rem; 
        left:50.3rem; 
        padding: 0rem;
        background-color: #7DD9E8;
        border: none;
    }
    #search-icon-corner{
        position: absolute;
        /* top:4rem; */
        top:7rem;
        left: 51.8rem;
    }
    
    
    #search-btn{
        background-image: url(../images//search.jpg);
        color: white;
        position: absolute;
        left: 52.8rem;
        height: 2rem;
        /* top:4rem; */
        top:7rem;
        border: none;
        background-color: #7DD9E8;
    }
    .header-right{
        float: left;
        margin-left: 20rem;
    }
}

@media(max-width: 673px) and (min-width:481px){
    .header{
        height: 9.5rem;
    }
    #search-box{
        position: absolute;
        top: 7rem;
        border: none;
        height: 2rem;
        width: 24.7rem;
        left: 15.5rem;
        background-color: #CAEFF7;
    }
    
    .search-left-corner{
        position: absolute;
        /* top: 4rem; */
        top: 7rem;
        left: 14.9rem;
    }
    #search-btn-icon{
        position: absolute;
        /* top: 4rem;  */
        top: 7rem; 
        left:40.3rem; 
        padding: 0rem;
        background-color: #7DD9E8;
        border: none;
    }
    #search-icon-corner{
        position: absolute;
        /* top:4rem; */
        top:7rem;
        left: 41.8rem;
    }
    
    
    #search-btn{
        background-image: url(../images//search.jpg);
        color: white;
        position: absolute;
        left: 42.8rem;
        height: 2rem;
        /* top:4rem; */
        top:7rem;
        border: none;
        background-color: #7DD9E8;
    }
    .header-right{
        float: left;
    }
    
}

@media(max-width:679px){
    #search-box{
        position: absolute;
        /* top: 4rem; */
        top: 7rem;
        border: none;
        height: 2rem;
        width: 24.7rem;
        left: 10.7rem;
        background-color: #CAEFF7;
    }
    
    .search-left-corner{
        position: absolute;
        /* top: 4rem; */
        top: 7rem;
        left: 10.1rem;
    }
    #search-btn-icon{
        position: absolute;
        /* top: 4rem;  */
        top: 7rem; 
        left:35.1rem; 
        padding: 0rem;
        background-color: #7DD9E8;
        border: none;
    }
    #search-icon-corner{
        position: absolute;
        /* top:4rem; */
        top:7rem;
        left: 36.8rem;
    }
    
    
    #search-btn{
        background-image: url(../images//search.jpg);
        color: white;
        position: absolute;
        left: 37.8rem;
        height: 2rem;
        /* top:4rem; */
        top:7rem;
        border: none;
        background-color: #7DD9E8;
    }
    .header-right{
        margin-left: 2rem;
    }
}
@media(max-width:554px){
    .left-nav-bar{
        width: 100%;


    }
    .right-nav-bar{
        width: 100%;
        margin-left: 0rem;
        padding-left: 0rem;
     
    }

}
    

@media only screen and (max-width: 480px) {
    /* html{
        font-size: 55%;
    } */
    .logo img{
        height: 4rem;
        width: 8rem;
    }

    .main img{
        height: auto;
        width: 4rem;
    }

    #search-box{
        position: absolute;
        /* top: 4rem; */
        top: 7rem;
        border: none;
        height: 2rem;
        width: 20.7rem;
        left: 5.7rem;
        background-color: #CAEFF7;
    }
    
    .search-left-corner{
        position: absolute;
        /* top: 4rem; */
        top: 7rem;
        left: 5rem;
    }
    #search-btn-icon{
        position: absolute;
        /* top: 4rem;  */
        top: 7rem; 
        left:26.1rem; 
        padding: 0rem;
        background-color: #7DD9E8;
        border: none;
    }
    #search-icon-corner{
        position: absolute;
        /* top:4rem; */
        top:7rem;
        left: 27.8rem;
    }
    
    
    #search-btn{
        background-image: url(../images//search.jpg);
        color: white;
        position: absolute;
        left: 28.8rem;
        height: 2rem;
        /* top:4rem; */
        top:7rem;
        border: none;
        background-color: #7DD9E8;
    }

    
    /*
    .nav-bar ul li{
        clear: both;
        padding-top: 1rem;

    }
    .nav-bar ul{
        padding: 0rem auto;
    }
    .nav-bar{
        height: 16rem;
    }
    #nav-item-5, #nav-item-6{
        clear: both;
        float: left;
    }
    .nav-bar img{
        display: none;
    }

    .header-left{
        clear: both;

    }
    .header-right{
        clear: both;
        margin-top: 0rem;
    margin-left: 0rem;
    }
    .header{
        display: block;
        height: 20vh;
    }
    .header-left img{
        width: 12rem;
        height: 6rem;
    }

    .head-nav-bar  {
        list-style-type: none;
        overflow: hidden;
        margin-right: none;
        margin-top: none;
        font-size: 1.2rem;
      } */
    
    /* .head-nav-bar li {
        clear: both;
      }
      .head-nav-bar li span
    {
        display: none;
    }
    .header .name{
        all:unset
    } */

    .left-nav-bar{
        width: 100%;
        margin-left: 0px;

    }
    .right-nav-bar{
        float: left;
        width: 100%;
        margin-right: 0px;
    }
    .right-nav-title,.left-nav-top-heading{
        
    }
    .left-nav-top-heading{
        width:45%
    }

  
    .main{
        float: left;
    }
}


