/* @media only screen and (max-width: 768px) {
    html{
        font-size: 45%;
    }
    .header{
        display: block;
    }
} 
}*/

@media(max-width: 940px){
    #nav-item-5, #nav-item-6{
        clear: both;
        margin: unset;
    }
}

@media only screen and (max-width: 480px) {
    html{
        font-size: 30%;
    }
    
    .main img{
        height: auto;
        width: 4rem;
    }

    .nav-bar ul li{
        clear: both;
        padding-top: 1rem;

    }
    .nav-bar ul{
        padding: 0rem auto;
    }
    .nav-bar{
        height: 16rem;
    }
    #nav-item-5, #nav-item-6{
        clear: both;
        float: left;
    }
    .nav-bar img{
        display: none;
    }
    /* .header-right{
        clear: both;
        display: block;
    }
    .header-left{
        clear: both;
        display: block;
    } */
    .header-left{
        clear: both;

    }
    .header-right{
        clear: both;
        margin-top: 0rem;
    margin-left: 0rem;
    }
    .header{
        display: block;
        height: 20vh;
    }
    .header-left img{
        width: 12rem;
        height: 6rem;
    }

    .head-nav-bar  {
        list-style-type: none;
        overflow: hidden;
        margin-right: none;
        margin-top: none;
        font-size: 1.2rem;
      }
    
    .head-nav-bar li {
        clear: both;
      }
      .head-nav-bar li span
    {
        display: none;
    }
    .header .name{
        all:unset
    }

    .left-nav-bar{
        clear: both;
    }
    .right-nav-bar{
        clear: both;
    }

}


