.wrapper{
  /* width: 98.6rem; */
  max-width: 91%;
  margin: 0rem auto;
}

.header-left{
    float: left;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.header-right{
    float: right;
}

#search-box{
    position: absolute;
    top: 4rem;
    border: none;
    height: 2rem;
    width: 24.7rem;
    left: 28.5rem;
    background-color: #CAEFF7;
}

.search-left-corner{
    position: absolute;
    top: 4rem;
    left: 27.9rem;
}
#search-btn-icon{
    position: absolute;
    top: 4rem; 
    left:53.3rem; 
    padding: 0rem;
    background-color: #7DD9E8;
    border: none;
}
#search-icon-corner{
    position: absolute;
    top:4rem;
    left: 54.8rem;
}


#search-btn{
    background-image: url(../images//search.jpg);
    color: white;
    position: absolute;
    left: 55.8rem;
    height: 2rem;
    top:4rem;
    border: none;
    background-color: #7DD9E8;
}

.name{
    margin-top: 2.8rem;
    /* margin-right: 31rem; */
    font-size: 1.6rem;
    margin-left: 6.5rem;
    
}

.head-nav-bar  {
    list-style-type: none;
    overflow: hidden;
    margin-right: 3.1rem;
    margin-top: 1.2rem;
    font-size: 1.2rem;
  }
  
  .head-nav-bar li {
    float: left;
  }
  
  .head-nav-bar li a {
    display: block;
    /* padding: 8rem; */
    text-decoration: none;
    color: black;

  }
  .separator{
      padding: .5rem;
  }

  /* navigation bar */
  .nav-bar{
      font-size: 1.4rem;
      font-weight:600;
  }
  .nav-bar ul li{
    float: left;
    padding-left: 2.5rem;
    padding-top: 1.5rem;
    

  }
  .nav-bar ul li a{
    text-decoration: none;
    color: #474747;
  }

#nav-item-5, #nav-item-6{
    float: right;
    margin-right: 2.3rem;
}


  /* left navbar */
.left-nav-top-heading{
      display: inline-block;
      width: 19.4rem;
      /* padding-top: 15rem; */
      font-size: 1.8rem;
      /* padding-left: 11rem; */
      background-color: #2FC1DA;
      height: 4.2rem;
  }

  .left-nav-bar span{
      margin-left: 1.1rem;
  }
  .left-nav-top-heading span{
      display: inline-block;
      margin-top: 1.5rem;
      
  }
  .content{
    float: left;
    width: 9.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.content-logo{
    float: right;
    padding-right: 1.4rem;
    margin-top: 2.9rem;
    
}
.foot ul li{
    float: left;
}
.foot li a {
    display: block;
    /* padding: 8rem; */
    text-decoration: none;
    color: white;
    margin-top: 1.9rem;
    margin-left: 2.5rem;
    font-size: 1.2rem;
  }
  .dot-separator{
      padding-left: .5rem;
      padding-right:.5rem;
  }
  #footer-item-6{
      float: right;
      margin-right: 2.3rem;;
  }

  /* right navbar */

 
  .right-nav-title{
    display: block;
    width: 17.6rem;
    font-size: 1.8rem;
    background-color: #2FC1DA;
    height: 4.2rem;

  }
  .right-nav-bar span{
    display: block;
      padding: 1.5rem 1.1rem;
  }
  .right-nav-bar ul li{
      display: block;
      width: 100%;
  } 

  .right-nav-bar ul li a{
   
    color: black;
    display: block;
    padding:1.1rem;
    text-decoration: none;
  }

  .right-nav-bar ul li:hover {
    background-color: #FFFFFF;
    
  }

  /* Body content */
  

  .main-heading{
      font-size: 2.6rem;
      font-weight: 500;
  }

  

  .main-title{
    display: inline-block;
    height: 6.5rem;
    width: 51.8rem;
    background-color: #F5F5F5;
    border-bottom: .2rem solid #7DD9E8;
    margin-top:1.1rem;
  }
  .main-title-separator{
    display: block;
    background-color: #FFFFFF;
    height: 6.5rem;
    width: .2rem;
    margin: auto;
  }
  
  
 
  .main-content-item{
    display: inline-block;
    height: 10rem;
    /* border-bottom: 1rem solid #d8d8d8; */
  }
  .divider{
    display: block;
    clear: both;
    border-bottom: .2rem solid #d8d8d8;
    width: 51.8rem;
  }

  .main-title-left{
    float: left;
    width: 25.7rem;
    height: 6.5rem;
    border-right:.2rem solid #FDFDFD;
    /* border: 1rem solid red; */

  }
  .main-title-right{
    float: right;
    width: 25.7rem;
    height: 6.5rem;
    border-left:.1rem solid #FDFDFD;
    /* border: 1rem solid red; */
  }
  .left-title,.right-title{
    position:absolute;
    clear: both;
    margin-top: 1.2rem;
    margin-left: 9.9rem;

  } 

  .main-left-btn{
    float: left;
     margin-top: 3.6rem;
    margin-left: 1rem;
    margin-right: .5rem;
  }
  .main-right-btn{
    float: right ;
    margin-top: 3.6rem;
    margin-right: .5rem;

  }
  .desc-img{
    padding : 1.5rem 1rem 1.5rem 0rem;
  }
  .desc{
    padding-top: 1.5rem;
  }
  .desc-title{
    font-weight: bold;
    
  }

  .desc-img{
    float: left;
  }
  .desc{
    float: left;
  }
  .desc-content{
    font-size: 1.4rem;
  }
  .info{
    font-size: 1.4rem;
    font-weight: bold;
    color:#2F9DB4;
  }
  .red{
    color: #D53F1A;
  }
  .desc-separator{
    padding: .5rem 0rem .5rem;
  }
  .suscription{
    color : #709521;
    padding-left: .5rem;
  }